#result{
width:550px;
margin:30px auto;
font-size:0;
font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

#result span{
display:inline-block;
zoom:1;
width:60px;
height:25px;
line-height:25px;
text-align:center;
border:1px solid #ddd;
margin:-1px 0 0 -1px;
font-size:12px;
}