.entry{
	position: absolute;
	top:10;
	left:10;
    z-index: 0;
    width:100px;
    border-right: none;
}
.data{
    position: absolute;
	top:10;
	left:10;
	z-index: -1;
	width:125px;
	height:21px;
}